h1{text-align: center;font-color:red; font-family: sans-serif;font-weight: bold;font-size: 75%; 
	margin-top: 20px; width: 10%;margin-left: auto;margin-right: auto;margin-bottom: 20px;  }  
body{margin:20px;
	color: black ;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
}
p{ width:90%; height: 90%;
  padding: 20px; border: 1px black; margin: 20px;
}
section{;
   float: left ;  
overflow: auto;padding: 20px white;}
h2{border: 1px;}
.row { width: 100%;}
#p1 { background-color:white; }
#p2 { background-color:white; }
#p3 {background-color:white ; }
#title1 {position: absolute;top: 0px; right: 0px;  border: 1px;  font-size:75%; font-weight: bold;}
#title2 {position: absolute;top: 0px; right: 0px;border: 1px;  font-size: 75%; font-weight: bold;}
#title3 {position: absolute;top: 0px; right: 0px;border: 1px;  font-size: 75%; font-weight: bold;}
#sec1 {position: relative;background-color: lightgreen;padding: 20px white;}
#sec2 {position: relative;background-color: lightpink;padding: 20px white;}
#sec3 {position: relative;background-color: lightblue;padding: 20px white;}